body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: #f0f0f0; /* Background color for the whole page */
    
}

.header {
    width: 100%;
    height: 50px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#heading {
    color: white;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   

    
}


#InputDetails {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    max-width: 500px; /* Limit the width to maintain central alignment */
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#InputDetails > * {
    flex-grow: 1; /* Each child element takes up equal available space */
    margin: 5px 0; /* Adjust margin between elements */
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333; /* Darker shade on hover */
}

#earthVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;}


